* {
    border: none;
    font-family: monospace;
    font-size: 14pt;
    min-height: 0;
    margin-right: 10px;
    border-radius: 0;
}

window#waybar {
    background: #152028;
    color: #8bb4d1;
    opacity: 1;
}

#workspaces button {
    padding: 0px;
    background: transparent;
    color: #8bb4d1;
    padding-left: 15px;
}

#workspaces button.active {
    background: #a4c8e1;
    color: #000;
}

#clock {
    color: #8bb4d1;
}
